<div id="container">
  <h1>Round 1 - GO!</h1>
  <table>
    <tr>
      <th>Category</th>
      <th>Category</th>
      <th>Category</th>
    </tr>
    <tr>
      <td>100</td>
      <td>100</td>
      <td>100</td>
    </tr>
    <tr>
      <td>3000</td>
      <td>3000</td>
      <td>3000</td>
    </tr>
    <tr>
      <td>90,000</td>
      <td>90,000</td>
      <td>90,000</td>
    </tr>
  </table>
  <form>
    <h2>Choose a category</h2>
    <select>
      <option>Easy</option>
      <option>Medium</option>
      <option>Hard</option>
    </select>
    <select>
      <option>Category 1</option>
      <option>Category 2</option>
      <option>Category 3</option>
    </select><br><br>
    <input type="submit"></input>
  </form>

</div>